body{
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(36, 45, 64);
  outline: none;

}

@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/FavoritC.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/FavoritC-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/FavoritLightC.otf');
  font-weight: 200;
  font-style: normal;
}

a{
  outline: none;
  color: rgb(36, 45, 64);
}

a:focus{
  outline: none;
}

a:hover {
  text-decoration: none;
}

ul{
  list-style: none;
}

.container.container_40{
  padding: 0 40px;
}
/* HEADER */

header{
  margin-bottom: 15px;
}

.menu_background {
  background-color: #7ba270;
  width: 100%;
  height: 40px;
}

.menu_container {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76%;
}

.basket_btn {
  width: 25%;
  background-color: #fad35a;
  height: 40px;
}

/* /HEADER */

.main_top_slider_item{
  width: 100%;
  position: relative;
  height: 477px;
  background-size: cover;
  display: flex!important;
  align-items: center;
}

.main_top_slider_item_content {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(3, 11, 53, 0.239);
  color:#fff;
  /* opacity: 0.239; */
  display: flex;
  flex-flow: row wrap;
  width: 347px;
  height: 347px;
  padding: 40px;
}

.main_top_slider_item_content div{
  width: 100%;
}

.main_top_slider_item_content_top{
  font-size: 24px;
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.main_top_slider_item_content_mid{
  font-size: 90px;
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.main_top_slider_item_content_bottom{
  font-size: 24px;
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

}

.main_top_slider .slick-prev{
  position: absolute;
  top:49%;
  left:10%;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  width: 23px;
  height: 41px;
  background-image: url("../img/arrow_left.png");
  opacity: 0.7;
}

.main_top_slider .slick-prev:hover{
  opacity: 1;
}

.main_top_slider .slick-prev:before{
  content: '';
}

.main_top_slider .slick-next{
  position: absolute;
  top:49%;
  right:10%;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
  width: 23px;
  height: 41px;
  background-image: url("../img/arrow_right.png");
  opacity: 0.7;
}

.main_top_slider .slick-next:hover{
  opacity: 1;
}

.main_top_slider .slick-next:before{
  content: '';
}

.main_top_slider .slick-dots{
  position: absolute;
  bottom: 25px;
}

.main_top_slider .slick-dots li{
  width: 22px;
  height: 22px;
}

.main_top_slider .slick-dots li button{
  border-radius: 50%;
  background-color: rgb(240, 241, 243);
  width: 22px;
  height: 22px;
}

.main_top_slider .slick-dots li.slick-active button{
  background-color: #fad35a;
}

.main_top_slider .slick-dots li button:before{
  content: '';
}

.catalog_baner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.catalog_baner_item{
  width: 32%;
  position: relative;
}

.catalog_baner_item_fon{
  width: 100%;
  height: auto;
}

.catalog_baner_item_text{
  position: absolute;
  top:8.5%;
  bottom:8.5%;
  left: 8.5%;
  right: 8.5%;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(0, 0, 0,0.388);
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-family: "FavoritC";
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}

h1.main_h1{
  font-size: 30px;
  font-family: "FavoritC";
  color: rgb(36, 45, 64);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

h2.goriz_line{
  font-size: 37px;
  font-family: "FavoritC";
  color: rgb(36, 45, 64);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  margin: 30px 0;
  position: relative;
}

h2.goriz_line::before{
  content: '';
  display: block;
  position: absolute;
  width: 231px;
  height: 9px;
  top:-30px;
  left:calc(50% - 115.5px);
  background-image: url("../img/goriz_line.png");
}

h2.goriz_line::after{
  content: '';
  display: block;
  position: absolute;
  width: 231px;
  height: 9px;
  bottom:-30px;
  left:calc(50% - 115.5px);
  background-image: url("../img/goriz_line.png");
}

.catalog_carusel{
  padding-top: 40px;
  padding-bottom: 70px;
}

.catalog_carusel_item{
  outline: none;
  padding: 0 18px;
  overflow: hidden;
}

.catalog_carusel_item img{
    margin: auto;
}

.catalog_carusel_item_cont{
  overflow: hidden;
  position: relative;
}

.catalog_carusel_item_cont_articul{
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(79, 86, 99);
  line-height: 1.2;
  text-align: center;
}

.catalog_carusel_item_cont_color{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.catalog_carusel_item_cont_color a{
  width: 23px;
  height: 23px;
  margin: 0 2.5px;
}

.catalog_carusel_item_cont_name{
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(36, 45, 64);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.catalog_carusel_item_cont_price{
  font-size: 18px;
  font-family: "PT Sans";
  color: rgba(123, 162, 112, 0.6);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.catalog_carusel_item_cont_basket{
  width: 100%;
  height: 42px;
  position: relative;
}

.catalog_carusel_item_cont_basket_link{
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.302);
  border-style: solid;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  background-color: #fff;
  position: relative;
}

.catalog_carusel_item_cont_basket_link:before{
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/ico_basket.png");
  width: 27px;
  height: 22px;
}

.click .catalog_carusel_item_cont_basket_link{
  background-color: #242d40;
}

.click .catalog_carusel_item_cont_basket_link:before{
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/ico_basket_white.png");
  width: 27px;
  height: 22px;
}

.catalog_carusel_item_cont_hide{
  padding: 10px 0;
  position:absolute;
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
  bottom: -160px;
  left:0;
  right: 0;
  background-color: rgba(36, 45, 64, 0.859);
  z-index: 4;
}

.click .catalog_carusel_item_cont_hide{
  transition: 0.5s;
  bottom: 42px;
}

.catalog_carusel_item_cont_hide a{
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  width: 100%;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 0;
}

.catalog_carusel_item_cont_hide a:hover{
  background-color:#7ba270;
}


.breadcrumbs{
  margin-top: 35px;
}

.breadcrumbs_list{
  display: flex;
  padding: 0;
}

.breadcrumbs_list li a{
  margin-right: 5px;
  position: relative;
}

.breadcrumbs_list li span{
  margin-left: 5px;
}

.news{
  margin-bottom: 90px;
}

.news_item{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 24px;
  position: relative;
  overflow-x: hidden;
}

.news_item_img{
  width: 18%;
}

.news_item_img img{
  width: 100%;
}

.news_item_content{
  width: 79%;
}

.news_item_content_date{
  color: #8c8c8c;
  line-height: 1;
}

.news_item_content_name{
  font-family: "FavoritC";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.news_item_content_text{
  font-family: "FavoritC";
}

.news_item_content_text a{
  color: #0075b8;
  text-decoration: underline;
}

.news_dop{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.news_dop_btn{
  background-color: rgb(123, 162, 112);
  width: 325px;
  height: 68px;
  font-size: 18px;
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.news_detail{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 35px;
  padding-bottom: 44px;
  position: relative;
  overflow: hidden;
}

.news_detail_img{
  width: 100%;
  margin-bottom: 30px;
}

.news_detail_content_date{
  color: #8c8c8c;
  line-height: 1;
}

.news_detail_content_text{
  font-family: "FavoritC";
}

.news_detail_back_page{
  display: block;
  text-align: left;
  margin-bottom: 200px;
  font-size: 16px;
  font-family: "BlissPro";
  color: rgb(0, 117, 184);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.5;
}

.gor_line{
  position: absolute;
  height: 1px;
  width: calc(100vw * 2);
  background-color: rgba(51, 51, 51, 0.239);
  left: -200px;
  bottom: 0;
}

.gor_line_b{
  position: absolute;
  height: 2px;
  width: calc(100vw * 2);
  background-color: rgba(51, 51, 51, 0.239);
  left: -200px;
  bottom: 0;
}

.basket_title{
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);
  height: 56px;
  margin-bottom: 15px;
}

.basket_list{
  margin-bottom: 35px;
}

.basket_list_item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid  #e0e0e0;
  border-left: 1px solid  #e0e0e0;
  border-right: 1px solid  #e0e0e0;
}

.basket_list_item:first-child{
  border-top: 1px solid  #e0e0e0;
}

.basket_list_item_photo{
  width: 12%;
}

.basket_list_item_photo img{
  max-width: 100%;
}

.basket_list_item_info{
  width: 18%;
}

.basket_list_item_info

.basket_list_item_disc{
  width: 7%;
}

.basket_list_item_price{
  width: 15%;
}

.basket_list_item_col{
  width: 18%;
}

.basket_list_item_prices{
  width: 15%;
}

.basket_list_item_del{
  width: 15%;
}

/* FOOTER */

.social_background {
  background-color: #fad35a;
  width: 100%;
  height: 52px;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 52px;
}

.social a {
  height: 25px;
  width: 30px;
}

.social a.fb {
  background-image: url(/img/social_ico.png);
}

footer{
  overflow: hidden;
}

.footer_mid {
  padding: 35px 0;
  background-color: #f0f2f4;
}

.logo_footer{
  margin-bottom: 30px;
}

.footer_catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer_catalog a {
  width: 122px;
  height: 122px;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 18px;
  font-family: "FavoritC";
  font-weight: 200;
  color: rgb(36, 45, 64);
  text-transform: uppercase;
  line-height: 1.2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer_menu {
  display: flex;
  justify-content: center;
}

.footer_menu_ul {
  list-style: none;
}

.footer_menu_ul li {
  line-height: 2;
}

.footer_menu_ul li a{
  color: rgb(36, 45, 64);
  text-decoration: underline;
  line-height: 1.2;
}

.footer_menu_ul li a:hover{
  text-decoration: none;
}

.footer_phone {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(36, 45, 64);
  line-height: 1.2;
}

.footer_phone a {
  font-size: 16px;
  font-family: "FavoritC";
  color: rgb(36, 45, 64);
  font-weight: bold;
  line-height: 1.2;
}

.footer_phone_body{
  display: flex;
  justify-content: flex-end;
}

.footer_copyr {
  font-size: 14px;
  line-height: 1.714;
}

.footer_copyr p{
  margin: 0;
}

.footer_copyr a{
  text-decoration: underline;
}

.footer_copyr a:hover{
  text-decoration: none;
}

.footer_bottom{
  padding-top: 30px;
  position: relative;
}

.footer_bottom_info{
  display:flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 45px;
}

.footer_bottom_info_termo{
  margin-top: 10px;
  margin-right: 50px;
}

.footer_bottom_info_puh{
  margin-right: 120px;
}

.footer_bottom_info_master{
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 54px;
  text-align: center;
}

.footer_bottom_info_flower{
  position: absolute;
  top:-57px;
  right: -77px;
}

/* /FOOTER */

@media (max-width: 1000px) {
  .container.container_news{
    padding: 0;
  }

  h1.main_h1{
    padding: 0 40px;
  }

  .breadcrumbs{
    padding: 0 40px;
  }

  .news_item{
    overflow-x: visible;
  }

  .news_item_img{
    width: 35%;
  }

  .news_item_content{
    width: 60%;
    padding-right: 40px;
  }

  .news_item_img{
    padding-left: 40px;
  }

  .news_detail{
    padding: 0 40px 44px 40px;
    overflow: visible;
  }

  .news_detail_img img{
    max-width: 100%;
  }

  .news_detail_back_page{
    padding-left: 40px;
  }

}

@media (max-width: 640px) {
  .breadcrumbs{
    padding: 0 10px;
  }

  h1.main_h1{
    padding: 0 10px;
  }

  .news_item{
    flex-flow: row wrap;
  }

  .news_item_img{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  .news_item_content{
    padding: 0 10px;
    width: 100%;
  }

  .news_dop_btn{
  font-size: 18px;
  font-family: "FavoritC";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  }

  .news_detail{
    padding: 0 10px;
  }

  .news_detail_img img{
    width: 100%;
  }

  .logo_footer{
    display: none;
  }

  .footer_copyr{
    display: none;
  }
}
